ekf_filter_node:
  ros__parameters:

    frequency: 30.0
    two_d_mode: true
    publish_tf: true

    map_frame: map
    odom_frame: odom
    base_link_frame: base_link
    world_frame: map

    odom0: /odometry/filtered
    odom0_config: [true, true, false,
                   false, false, false,
                   true, true, false,
                   false, false, true,
                   false, false, false]

    odom1: /odometry/gps
    odom1_config: [true, true, false,
                   false, false, false,
                   false, false, false,
                   false, false, false,
                   false, false, false]

